!/log/.keep
!/tmp/.keep
**.orig
*.bowerrc
*.codekit
*.codekit-cache
*.pem
*.rbc
*.scssc
*.sublime-project
*.sublime-workspace
*.swp
*~
.byebug_history
.chef/syntaxcache/*
.DS_Storage
.DS_Store
.idea
.idea/
.powenv
.project
.rspec
.rspec_status
.rvmrc
.sass-cache/*
.secret
.yarn-integrity
/.bundle
/.vscode
/.yardoc
/_yardoc/
/coverage/
/coverage/
/doc/
/pkg/
/spec/reports/
/spec/tmp
/storage/*
/tmp/
/tmp/*
bower.json
doc/
gemsurance_report.html
icon
pickle-email-*.html
rerun.txt
secrets.yml
todo.md
yarn-debug.log*
